<form class="form" id="addProductForm">
    <h2>Agregar un producto</h2>
    <div class="form__flex">
        <input class="form__input" id="title" name="title" type="text" placeholder="Título del producto">
        <input class="form__input" id="code" name="code" type="text" placeholder="Código del producto">
    </div>
    <div class="form__flex">
        <input class="form__input" id="price" name="price" type="number" placeholder="Precio del producto">
        <input class="form__input" id="stock" name="stock" type="number" placeholder="Stock del producto">
    </div>
    <input class="form__input" id="thumbnail" name="thumbnail" type="text" placeholder="URL de la imágen">
    <textarea class="form__input" id="description" name="description" placeholder="Descripción del producto"></textarea>
    <button class="button" type="submit">
        Agregar producto
    </button>
</form>

<form class="form" id="deleteProductForm">
    <h2>Eliminar un producto</h2>
    <div class="form__flex">
        <input class="form__input" id="deleteId" name="id" type="number" placeholder="Indique el ID del producto que desee eliminar">
        <button class="button button__delete" type="submit">
            Eliminar producto
        </button>
    </div>
</form>

<main class="main">
    <h1 class="title">{{ title }}</h1>
    <section class="products" id="products-container">
    </section>
</main>


<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>